<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../individual.css" />
    <title>TE4 Site</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet" />
</head>

<body>
    <div class="project-container">
        <h1>Namn Namnsson</h1>

        <div class="line"></div>
        <h2>Om mig</h2>
        <div class="about-container">
            <img src="../../images/" class="portrait" />
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

        <div class="line"></div>
        <h2>Mina projekt-bidrag</h2>
        <div class="project-contributions-container">
            <a href="../../index.html">
                <div>
                    <h2>Webbshop</h2>
                    <ul>
                        <li><h3>Kodning</h3></li>
                    </ul>
                </div>
                <div class="project-background shop"></div>
                <div class="blurrer"></div>
            </a>

            <a href="../../Projects/Project2/infoskärm.html">
                <div>
                    <h2>Infoskärm</h2>
                    <ul>
                        <li><h3>Kodning</h3></li>
                        <li><h3>Grafik</h3></li>
                        <li><h3>Musik</h3></li>
                        <li><h3>Allt</h3></li>
                    </ul>
                </div>
                <div class="project-background infoscreen"></div>
                <div class="blurrer"></div>
            </a>

            <a href="../../index.html">
                <div>
                    <h2>Spel</h2>
                    <ul>
                        <li><h3>Kodning</h3></li>
                        <li><h3>Grafik</h3></li>
                        <li><h3>Musik</h3></li>
                        <li><h3>Allt</h3></li>
                    </ul>
                </div>
                <div class="project-background game"></div>
                <div class="blurrer"></div>
            </a>

            <a href="../../index.html">
                <div>
                    <h2>React</h2>
                    <ul>
                        <li><h3>Kodning</h3></li>
                        <li><h3>Grafik</h3></li>
                        <li><h3>Musik</h3></li>
                        <li><h3>Allt</h3></li>
                    </ul>
                </div>
                <div class="project-background react"></div>
                <div class="blurrer"></div>
            </a>
        </div>

        <div class="line"></div>
        <h2>Individuellt projekt</h2>
        <div class="video-container">
            <video controls autoplay class="project-video">
                <source src="../../Projects/project-videos/infoscreen.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div>
                <p>Text om individuellt projekt...</p>
                <p><a href="https://github.com/TE4-HBG/PapperWebbshop" class="link" target="_blank"><img src="../../images/github-icon.png" class="github-icon" /> Github <img src="../../images/link-icon.png" class="link-icon" /></a></p>
            </div>
        </div>

        <div class="line"></div>
        <h2>Examensarbete</h2>
        <div class="video-container">
            <video controls autoplay class="project-video">
                <source src="../../Projects/project-videos/infoscreen.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div>
                <p>Text om examensarbete</p>
                <p><a href="https://github.com/TE4-HBG/PapperWebbshop" class="link" target="_blank"><img src="../../images/github-icon.png" class="github-icon" /> Github <img src="../../images/link-icon.png" class="link-icon" /></a></p>
                <p><a href="https://docs.google.com/document/d/1ss2rHfz3nGZ-Vzz2TdUilHSZnGw-9-fXD7Z4xuNWX1w/edit?usp=sharing" class="link" target="_blank"> Rapport <img src="../../images/link-icon.png" class="link-icon" /></a></p>
            </div>
        </div>
    </div>
</body>

</html>