:root {
  --pink-ac: #ab058b;
  --indigo-ac: indigo;
  --bg-ac: #f6f6f6;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-ac);
  scroll-behavior: smooth;
}



* {
  font-family: Poppins, sans-serif;
}

#hero {
  padding-top: 16em;;
  height: 85vh;
  width: 100%;
/*  display: flex;
  justify-content: center;
  align-items: center;*/
  background-image: url("images/te4-working.png");
  background-position: center top;
}

#hero div {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  color: white;
}
#hero img {
  width: 9vw;
  min-width: 80px;
  margin-right: 2%;
}
.header-text {
  font-size: 1em;
}


.hr {
  border-radius: 100px;
  width: 100%;
  height: 2px!important;
  background-color: var(--bg-ac);
  margin: auto;
  
}

#main-container {
  width: 100%;
}

.container-width {
  width: 80%;
  align-items: center;
  margin: auto;
}
.center {
    margin: 0px auto 0px auto;
    text-align: center;
}


h2 {
  font-size: 3vh;
}




/*projekt section-------*/
#Projekt {
  text-decoration: underline;
}
#projeks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 2em;
}

.projekt {
  width: 12em;
  aspect-ratio: 3/4;
  position: relative;
  overflow: hidden;
  margin: 25px;
  border-radius: 1rem;
  border: 3px transparent solid; /*this is spacing*/
  outline: 0px solid transparent;
  transition: 100ms;
  box-shadow: 0px 0px 10px rgb(200, 200, 200);
}
.projekt:hover {
  border: 3px transparent solid;
  outline: 4px solid #4b0082;
}

.projekt h3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  color: white;
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  text-shadow: 0px 2px 15px black;
  user-select: none;
}
.projekt img {
  width: 103%;
  height: 102%;
  z-index: 4;
  filter: blur(3px);
  transform: translate(-50%,-50%);
  position: relative;
  top: 50%;
  left: 50%;
  transition: 200ms;
}
.projekt img:hover {
  filter: none;
}

/*about section------*/

#about h2 {
  color: white;
  padding-bottom: 1em;
}
#about {
  background: url(images/te4-outside.png);
  background-position: center center;
  padding-bottom: 4rem;
}
#about-box {
  border-radius: 0.5em;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 1em 2em 1em 2em;
  position: relative;
}
#timeline-link {
  width: 100%;
  display: inline-block;
  text-align: right;
}

/*students------------*/
.student-cards a {
  background-color: white;
  padding: 1.1rem 1.1rem 2rem 1.1rem;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.35);
  margin: 0.3vw;
  margin-bottom: 1.5vw;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
  transition: 150ms;
}

.student-cards a:hover {
  transform: scale(1.1);
  box-shadow: 0px 30px 40px rgba(0,0,0,0.15);

}
.student-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#elever {
  background-color: var(--bg-ac);
}

.student {
  background-color: white;  
  position: relative;
  width: 300px; /* Set the desired width */
  aspect-ratio: 4/5; /* Set the desired aspect ratio */
  overflow: hidden; /* Crop the content that exceeds the container */

}
.student:hover {
  
}

.img-container {

}
.student img {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  max-width: 450px;
}
.student-name {
  position: relative;
  bottom: -2rem;
  transform: translateY(-55%);
  text-decoration: none;
}

/*navbar---------------------*/
.navbar {
  z-index: 9999;
  height: 4em;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease-in-out;
}

html:not([data-scroll="0"]) .navbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}

.navbar-link-div {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  border-bottom: 2px transparent solid; 
  transition: 0.2s;
  font-size: 1.2em;
}

.navbar-link:hover {
  border-bottom: 2px black solid; ;
}

.linkedIn-logo {
  display: flex;
  align-items: center;
  height: 70%;
  filter: grayscale(1) contrast(2.8);
  transition: 100ms;
}
.linkedIn-logo:hover {
  filter: grayscale(0) contrast(1);  
}

.inherit-height {
  height: inherit;
  margin-right: -7%;
}

.center-y-axis {
  display: flex;
  align-items: center;
}

/*modal------*/
/* The Modal (background) */
.modal {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 10px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin: auto;
  padding: 0;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: inherit;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {opacity:0} 
  to {opacity:1}
}

@keyframes animatetop {
  from {opacity:0}
  to {opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: none;
  border: transparent;
  
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 2px 16px;
  background-image: linear-gradient(90deg,#ab058b 0,indigo 100%);
  color: white;
}

.modal-body {
  padding: 2px 36px 10px 36px;
  z-index: 9;
  background-color: white;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}


/*media queries------------*/
@media only screen and (max-width: 600px) {
  .container-width {
    width: 95%;
  }
}