<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../project.css" />
    <title>TE4 Site</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="../../te4-logo-dark_white_bg.ico" type="image/x-icon">

</head>

<body>
    <div class="project-container">
        <h1>Papershop</h1>

        <div class="line"></div>
        <h2>Projektbeskrivning</h2>
        <p>I detta projekt skulle vi bygga en responsiv webbshop med HTML, CSS och JavaScript. Man skulle kunna välja varor och
        summera en varukorg med alla varor. Det skulle vara en fin men enkel design och vi fick välja själva vad sidan skulle
        handla om samt logga, typsnitt och färgschema. Efter man hade summerat varorna i varukorgen skulle man kunna checka ut
        och få ett kvitto över det man köpt.</p>

        <div class="line"></div>
        <h2>Projektet</h2>
        <div class="video-container">
            <video controls autoplay class="project-video">
                <source src="../project-videos/papershop.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div>
                <p>Vi gjorde en hemsida om papper där man kunde köpa olika storlekar av papper samt pennor och liknande. Man kunde även se
                en om oss sida samt kontakta företaget via mail. I kundvagnen kan man tömma den, fortsätta handla eller checka ut. Om
                man checkar ut hamnar man på en sida där man skriver in sina kontaktuppgifter. När man checkat ut får man sitt kvitto
                sparat som en fil på datorn.</p>
                <p><a href="https://github.com/TE4-HBG/PapperWebbshop" class="link" target="_blank"><img src="../../images/github-icon.png" class="github-icon" /> Github <img src="../../images/link-icon.png" class="link-icon" /></a></p>
            </div>
        </div>

        <div class="line"></div>
        <h2>Presentation</h2>
        <div class="presentation-container">
            <img src="../project-images/papershop-presentation.jpg" class="project-image" />
            <img src="../project-images/papershop.png" class="project-image" />
        </div>

        <div class="line"></div>
        <h2>Teamet</h2>
        <div>
            <p><a href="../../Individual-pages/anna.html" class="link">Anna <img src="../../images/link-icon.png" class="link-icon"></a> - Gruppledare & planerare</p>
            <p><a href="../../Individual-pages/sakda.html" class="link">Sakda <img src="../../images/link-icon.png" class="link-icon"></a> - Front-end utvecklare</p>
            <p><a href="../../Individual-pages/leo/" class="link">Leo <img src="../../images/link-icon.png" class="link-icon"></a> - Back-end utvecklare</p>
        </div>
    </div>
</body>

</html>