:root {
  --pink-ac: #ab058b;
  --indigo-ac: indigo;
  --bg-ac: #f6f6f6;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/te4-outside.png"),
    linear-gradient(34deg, #4b0082 1%, #b1068c 56%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Poppins, sans-serif;
  
  padding-bottom: 4rem;
}

.project-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 1.2rem;
  border-radius: 1rem;
  margin-top: 8rem;
}

.project-container h1 {
  font-size: 2.3em;
}

.blurrer {
  top: 0;
  left: 0;
  backdrop-filter: blur(0.3rem) invert(0%) hue-rotate(0deg) saturate(1)
    brightness(1);
  position: fixed;
  width: 100vw;
  z-index: -1;
  height: 100vh;
}

.line {
  height: 0.125rem;
  width: 100%;
  margin: auto;
  background-color: gray;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: start;
}

.about-container > * {
  width: 100%;
}

.portrait {
  aspect-ratio: 3/4;
  width: 30%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px grey;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.project-image {
  aspect-ratio: 4 / 3;
  height: 50%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px grey;
}

.project-video {
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0px 0px 15px grey;
}

.link {
  text-decoration: none;
  color: indigo;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}

.link:hover {
  color: indigo;
  border-bottom: 2px solid indigo;
}

.link-icon {
  height: 14px;
}

.github-icon {
  height: 18px;
}

.github-link {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}

.filler-list-item {
  list-style-type: none;
}

.project-contributions-container {
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.project-contributions-container > a {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;

  display: grid;
  grid-auto-columns: 1fr;
  gap: 0;

  border-radius: 1.5rem;
  border: 3px transparent solid; /*this is spacing*/
  outline: 0px solid transparent;
  transition: 100ms;
}

.project-contributions-container > a:hover {
  border: 3px transparent solid;
  outline: 4px solid #4b0082;
}

.project-contributions-container > a > div {
  padding: 1rem;
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-contributions-container > a > div > ul {
  padding: 0;
  text-align: start;
}
.project-contributions-container > a > div > ul > li::marker {
  padding: 0rem;
  margin: 0;
}
.project-contributions-container > a > .blurrer {
  backdrop-filter: blur(0.2rem) brightness(0.7);
  position: relative;
  z-index: 2;
  border-radius: 1.5rem;
}
.project-contributions-container > a:hover > .blurrer {
  backdrop-filter: blur(0.15rem) brightness(0.9);
  transition-duration: 0.1s;
}

.project-background {
  background-size: cover;
  z-index: 2 !important;
  border-radius: 1.5rem;
}

.project-background.shop {
  background: url("../images/cart.jpg");
  background-size: cover;
  background-position: center;
}
.project-background.infoscreen {
  background: url("../images/infoscreen.jpg");
  background-size: cover;
  background-position: center;
}
.project-background.game {
  background: url("../images/spel.jpg");
  background-size: cover;
  background-position: center;
}
.project-background.react {
  background: url("../images/react.jpg");
  background-size: cover;
  background-position: center;
}
.project-background.te4-site {
  background: url("../images/te4-working.png");
  background-size: cover;
  background-position: center;
}

.contact-link {
  height: 40px;
  padding-right: 1rem;
  filter: grayscale(1) contrast(2.8);
  transition: 100ms;
}

.contact-link:hover {
  filter: grayscale(0) contrast(1);
}

@media screen and (min-width: 700px) {
  /* Mellan 700px och 1200px */
  .video-container {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .video-container > div {
    width: 100%;
  }

  .presentation-container {
    display: flex;
    justify-content: space-between;
  }

  .project-image {
    width: 45%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .project-video {
    width: 50%;
    height: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .project-container {
    padding: 1.2rem 2.5rem;
  }

  .project-contributions-container > a {
    width: 40%;
  }
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem;
  text-align: center;
}
.img-container span {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.img-container img {
  border-radius: 10px;
  width: 100%;
  margin: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


/*navbar---------------------*/
.navbar {
  z-index: 9999;
  height: 4em;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.navbar-link-div {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  border-bottom: 2px transparent solid;
  transition: 0.2s;
  font-size: 1.2em;
}

.navbar-link:hover {
  border-bottom: 2px black solid;
}

.linkedIn-logo {
  display: flex;
  align-items: center;
  height: 70%;
  filter: grayscale(1) contrast(2.8);
  transition: 100ms;
}
.linkedIn-logo:hover {
  filter: grayscale(0) contrast(1);
}

.inherit-height {
  height: inherit;
  margin-right: -7%;
}

.center-y-axis {
  display: flex;
  align-items: center;
}



/*Hamburger Menu----------*/
.hamburger-container {
  display: none;
  position: sticky;
  top: 0;
  z-index: 999;

}

.hamburger {
  display: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  justify-content: space-between;
  padding: 20px 30px 20px 20px;
  background-color: white;
  align-items: center;
  z-index: 999;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
#hamburger-items-container {
  display: none;
  font-size: 1.5rem;
  position: relative;
  z-index: 900;
  background-color: var(--bg-ac);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: -20px;
  margin-top: -20rem;
}
#hamburger-items-container a {
  display: inherit;
  padding: 6px;
}
.show {
  display: flex!important;
}
.dropped {
  animation: slideAnimation 100ms ease-in-out forwards;
}

@keyframes slideAnimation {
  from {
    margin-top: -12rem;
  }
  to {
    margin-top: -2px;
  }
}

@keyframes slideAnimation {
  from {
    margin-top: -12rem;
  }
  to {
    margin-top: -2px;
  }
}


@media screen and (min-width: 1200px) {
  /* Över 1200px */
  .project-container {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .modal-content {
    width: 70%;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    display: flex;

  }
  .hamburger-container {
    display: block;
  }
}
